{% extends "base.html" %} {% load static %} {% block main %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatapp Realtime - Vinhweb</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
      integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
  </head>
  <style></style>
  <body>
    <div class="wrapper">
      <section class="users form signup">
        <header>
          <div class="content">
            <a
              href="{% url 'login:list_users' %}"
              class="back-icon"
              style="margin-right: 10px; font-size: large; color: black"
            >
              <i class="fas fa-arrow-left"></i>
            </a>
            <img src="{% static obj.url_image %}" alt="" />
            <div class="details">
              <span>{{ obj.name }}</span>
              <!-- <p><?php echo $row['status']; ?></p> -->
            </div>
          </div>
        </header>
        <div class="search">
          <span class="text">Lựa chọn đối tượng chia sẻ tới</span>
          <input
            class=""
            type="text"
            name="search"
            id=""
            placeholder="Nhập tên để tìm kiếm"
          />
          <!-- <button class=""><i class="fas fa-search"></i></button> -->
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-bottom: 20px;
          "
        ></div>
        <form
          action="{% url 'login:share_file_all' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="users-list" style="min-height: auto">
            <h2>Users</h2>
            {% for item in users %}
            <div
              style="
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin: 0;
                align-items: center;
                width: 100%;
              "
            >
              <input type="checkbox" name="user[]" value="{{item.id}}" id="" />
              <a>
                <div class="content" style="min-width: 310px; max-width: 310px">
                  <img
                    src="{% static item.url_image %}"
                    alt="loix"
                    width="10%"
                  />
                  <div class="details">
                    <span>{{ item.name }}</span>
                    <div>messenger</div>
                  </div>
                </div>
                <div class="status-dot ' . $offline . '">
                  <i class="fas fa-circle"></i>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="users-list" style="min-height: auto">
            <h2>Groups</h2>
            {% for item in group %}
            <div
              style="
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin: 0;
                align-items: center;
                width: 100%;
              "
            >
              <input
                type="checkbox"
                name="group[]"
                value="{{item.id_group}}"
                id=""
              />
              <a>
                <div class="content" style="min-width: 310px; max-width: 310px">
                  <img
                    src="{% static item.url_image %}"
                    alt="loix"
                    width="10%"
                  />
                  <div class="details">
                    <span>{{ item.name_group }}</span>
                    <div>messenger</div>
                  </div>
                </div>
                <div class="status-dot ' . $offline . '">
                  <i class="fas fa-circle"></i>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <input type="submit" name="Thêm mới" id="" />
        </form>
      </section>
    </div>
    <!-- <script src="{%static 'js/users-event.js'%}"></script> -->
  </body>
</html>
{%endblock main %}
